// main: ../style.less

.title{
    // padding-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
}


.text{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

li{
    padding-bottom: 50px;
    
    &:first-child{
        padding-top:20px
    }
    &:last-child{
        padding-bottom: 0;
    }
}