// main: ../style.less

.main{
    display: flex;
    // background-image: url(/photo/main-photo.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // height: 100px;
    

}

.main__inner{
    display: inline-block;
    // justify-content: space-between;
    // flex-direction: column;
}

.main__name{
    
    font-size: 38px;
    font-weight: 600;

}


