// main: ../style.less

.main{
    display: flex;
}

.main__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    padding-bottom: 50px;

}

.main__name{
    
    font-size: 38px;
    font-weight: 600;

}

.main__lang{
    // transform: rotate(270deg);
    writing-mode: vertical-lr;
}

.main__prof{
    font-size: 18px;
    font-weight: 300;
}

.des__img{
    max-width: 100%;
    height: 387px;
    margin-bottom: 100px;
}


